@use '../base/index' as *;

.header {
  &__container {
    @include universal-flex(flex, row, space-between, center);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding-right: 25px;
  }
  &__branding {
    @include universal-flex(flex, row, unset, unset);
    position: relative;
  }

  &__logo-link {
    transform: scale(1);

    svg {
      &:hover path {
        fill: $hover-color;
      }
    }
  }

  &__logo-title {
    position: absolute;
    top: 33px;
    left: 85px;
  }

  &__title-item {
    @include base-font-style($main-color, 30px, bold);
    text-transform: uppercase;
  }

  &__menu-btn {
    @include universal-flex(flex, row, center, center);
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.8s ease-in-out;
  }

  &__burger-btn {
    width: 30px;
    height: 2px;
    background: $main-color;
    border-radius: $universal-border;
    transition: all 0.8s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: $main-color;
      border-radius: $universal-border;
      transition: all 0.8s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: $main-color;
      border-radius: $universal-border;
      transition: all 0.8s ease-in-out;
    }

    &::before {
      transform: translateY(-6px);
    }

    &::after {
      transform: translateY(6px);
    }
  }
}

.burger-open {
  &__burger-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    &::before {
      background: $hover-color;
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      background: $hover-color;
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}
