$main-font: 'Rubik', sans-serif;

$dark-bgr: #000;

$main-color: #fff;
$gradient-color: linear-gradient(to right, #71df8a 0%, #f9ffcc 100%);
$hover-color: #71df8a;
$description-color: #a9a4a4;

$container-padding: 25px;

$universal-border: 5px;
