$main-font: 'Rubik', sans-serif;

$dark-bgr: #000;

$main-color: #fff;
$gradient-color: linear-gradient(
  to right,
  rgba(184, 114, 213, 1) 0%,
  rgba(20, 164, 212, 1) 100%
);
$hover-color: rgba(184, 114, 213, 1);
$description-color: #a9a4a4;

$container-padding: 25px;

$universal-border: 5px;
