@use '../../base/index' as *;

@media (min-width: 768px) {
  .about {
    @include universal-flex(flex, row, center, center);
    padding: 50px 0;
  }

  .cards {
    padding: 0 25px;

    &__title {
      font-size: 26px;
    }

    &__description {
      font-size: 16px;
    }
  }
}

@media (min-width: 992px) {
  .about {
    width: 80%;

    &__home {
      margin: 60px auto 30px;
    }
  }
}
